In [15]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/carmona/opt/anaconda3/lib/python3.9/site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [36]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine
import getpass

In [37]:
password = getpass.getpass("contraseña")
connection_string = f'mysql+pymysql://root:{password}@localhost/sakila'
engine = create_engine(connection_string)

In [38]:
# Consulta para encontrar clientes activos en mayo
query_may = """
SELECT customer_id, COUNT(rental_id) AS rentals_may
FROM rental
WHERE rental_date BETWEEN '2024-05-01' AND '2024-05-31'
GROUP BY customer_id;
"""

cursor.execute(query_may)
results_may = cursor.fetchall()

In [39]:
# Consulta para encontrar clientes activos en junio
query_june = """
SELECT customer_id, COUNT(rental_id) AS rentals_june
FROM rental
WHERE rental_date BETWEEN '2024-06-01' AND '2024-06-30'
GROUP BY customer_id;
"""

cursor.execute(query_june)
results_june = cursor.fetchall()

In [20]:
# Convertir los resultados a diccionarios para facilitar la comparación
rentals_may = {row[0]: row[1] for row in results_may}
rentals_june = {row[0]: row[1] for row in results_june}

# Encontrar clientes que estuvieron activos en ambos meses
active_customers = set(rentals_may.keys()).intersection(set(rentals_june.keys()))

# Comparar la actividad entre mayo y junio
activity_comparison = [
    {
        'customer_id': customer_id,
        'rentals_may': rentals_may[customer_id],
        'rentals_june': rentals_june[customer_id],
        'difference': rentals_june[customer_id] - rentals_may[customer_id]
    }
    for customer_id in active_customers
]

# Mostrar los resultados
for record in activity_comparison:
    print(record)

In [21]:
def rentals_month(engine, month, year):
    """
    Recupera datos de alquiler para un mes y año específicos de la base de datos Sakila.

    Parámetros:
    engine (sqlalchemy.engine.Engine): Motor de conexión a la base de datos.
    month (int): Mes para el que se recuperarán los datos de alquiler.
    year (int): Año para el que se recuperarán los datos de alquiler.

    Devuelve:
    pandas.DataFrame: DataFrame que contiene los datos de alquiler para el mes y año especificados.
    """
    # Crear una conexión
    with engine.connect() as connection:
        # Consulta SQL para recuperar datos de alquiler
        query = f"""
        SELECT *
        FROM rental
        WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
        """
        # Ejecutar la consulta y cargar los resultados en un DataFrame
        df = pd.read_sql(query, connection)
    
    return df

In [40]:
def rentals_month(engine, month, year):
    """
    Recupera datos de alquiler para un mes y año específicos de la base de datos Sakila.

    Parámetros:
    engine (sqlalchemy.engine.Engine): Motor de conexión a la base de datos.
    month (int): Mes para el que se recuperarán los datos de alquiler.
    year (int): Año para el que se recuperarán los datos de alquiler.

    Devuelve:
    pandas.DataFrame: DataFrame que contiene los datos de alquiler para el mes y año especificados.
    """
    try:
        # Crear una conexión
        with engine.connect() as connection:
            # Consulta SQL para recuperar datos de alquiler
            query = f"""
            SELECT *
            FROM rental
            WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year};
            """
            # Ejecutar la consulta y cargar los resultados en un DataFrame
            df = pd.read_sql(query, connection)
            # Convertir la columna 'rental_date' a datetime
            df['rental_date'] = pd.to_datetime(df['rental_date'])
            print(f"Consulta ejecutada: {query}")
            return df
    except Exception as e:
        print(f"Error al ejecutar la consulta: {e}")
        return pd.DataFrame()


month = 5  # Mayo
year = 2005
df_rentals = rentals_month(engine, month, year)
print(df_rentals.head())

def rental_count_month(df, month, year):
    """
    Cuenta los alquileres realizados por cada customer_id durante el mes y año seleccionados.

    Parámetros:
    df (pandas.DataFrame): DataFrame que contiene los datos de alquiler.
    month (int): Mes para el cual contar los alquileres.
    year (int): Año para el cual contar los alquileres.

    Devuelve:
    pandas.DataFrame: DataFrame que contiene la cantidad de alquileres por customer_id.
    """
    # Filtrar el DataFrame por el mes y año proporcionados
    df_filtered = df[(df['rental_date'].dt.month == month) & (df['rental_date'].dt.year == year)]
    
    # Contar los alquileres por customer_id
    rental_counts = df_filtered.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    
    return rental_counts


month = 5  # Mayo
year = 2005
df_rentals = rentals_month(engine, month, year)
df_rental_counts = rental_count_month(df_rentals, month, year)
print(df_rental_counts.head())

Error al ejecutar la consulta: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: NO)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)
Empty DataFrame
Columns: []
Index: []
Consulta ejecutada:
            SELECT *
            FROM rental
            WHERE MONTH(rental_date) = 5 AND YEAR(rental_date) = 2005;

   customer_id  rentals_05_2005
0            1                2
1            2                1
2            3                2
3            5                3
4            6                3

In [30]:
import pandas as pd

def compare_rentals(df1, df2, month1, year1, month2, year2):
    """
    Compara la cantidad de alquileres realizados por cada cliente en diferentes meses y años.

    Parámetros:
    df1 (pandas.DataFrame): DataFrame que contiene la cantidad de alquileres del primer mes y año.
    df2 (pandas.DataFrame): DataFrame que contiene la cantidad de alquileres del segundo mes y año.
    month1 (int): Mes del primer DataFrame.
    year1 (int): Año del primer DataFrame.
    month2 (int): Mes del segundo DataFrame.
    year2 (int): Año del segundo DataFrame.

    Devuelve:
    pandas.DataFrame: DataFrame combinado con la cantidad de alquileres en ambos meses y la diferencia.
    """
    # Renombrar las columnas de los DataFrames para facilitar la combinación
    df1 = df1.rename(columns={f'rentals_{month1:02d}_{year1}': 'rentals_month1'})
    df2 = df2.rename(columns={f'rentals_{month2:02d}_{year2}': 'rentals_month2'})

    # Combinar los DataFrames en uno solo
    df_combined = pd.merge(df1, df2, on='customer_id', how='outer').fillna(0)

    # Calcular la diferencia entre las cantidades de alquileres
    df_combined['difference'] = df_combined['rentals_month2'] - df_combined['rentals_month1']

    return df_combined

In [31]:
month1 = 5  # Mayo
year1 = 2005
month2 = 6  # Junio
year2 = 2005
df_rentals1 = rentals_month(engine, month1, year1)
df_rentals2 = rentals_month(engine, month2, year2)
df_rental_counts1 = rental_count_month(df_rentals1, month1, year1)
df_rental_counts2 = rental_count_month(df_rentals2, month2, year2)
df_comparison = compare_rentals(df_rental_counts1, df_rental_counts2, month1, year1, month2, year2)
print(df_comparison.head())

Consulta ejecutada:
            SELECT *
            FROM rental
            WHERE MONTH(rental_date) = 5 AND YEAR(rental_date) = 2005;

Consulta ejecutada:
            SELECT *
            FROM rental
            WHERE MONTH(rental_date) = 6 AND YEAR(rental_date) = 2005;

   customer_id  rentals_month1  rentals_month2  difference
0            1             2.0             7.0         5.0
1            2             1.0             1.0         0.0
2            3             2.0             4.0         2.0
3            5             3.0             5.0         2.0
4            6             3.0             4.0         1.0